.service-intro:after,
.service-box:hover .service-inner:before,
.social-links ul li a:hover,
.member:hover .social-links ul:before,
.parallax-text > a,
.date:before,
.timing-title,
.calculator.coloured:before,
.gallery-hover:before,
.fun-fact.coloured:before,
.effect > span,
.effect li:before,
.blog-img > a:before,
.address:before,
.blog-link > a:hover,
.membership-form button,
.page-top header,
.error-page > form input[type="submit"],
header > span,
.slide1-line,
.calculator a:hover,
.contact form input[type="submit"]:hover{
	background-color: #ef4035;
}


.title h2 span,
.member > span,
.member:hover > h3,
.parallax-text > h2 span,
.class-name > i,
.course-desc span strong,
.features > h3 span,
.course-detail > h3 a:hover,
.client-info h6,
.blog-img > span strong,
.blog > h3 a:hover,
nav ul li a:hover,
nav ul li.active a,
.page-top h1 span,
h2.simple-title span,
.error-text > p a,
.error-page h1 span,
.about h4,
.slide1-title2 span,
.slide1-link:hover,
.slide2-title2 span,
.slide2-desc span,
.bottom-footer p a,
.text-slide > h3,
.kenburns-text > h2{
	color:  #ef4035;
}

